@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 40%;
    grid-gap: 8%;

}

.map{
    transition: 0.3s;
}

.map:hover{
    box-shadow: 0 0 20px grey;
}
